@using ForlamisQuiz.UI.Extensions
@model ForlamisQuiz.UI.Models.LoginContext

@{
    ViewBag.Title = "Oturum Aç";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Oturum Aç</h2>

@if (ViewBag.LoginNotCorrect != null && ViewBag.LoginNotCorrect)
{
    <text>Kullanıcı adı veya parolası doğru değil. Tekrar deneyiniz. </text>
}

@using (Html.BeginForm("LoginUser", "Account", FormMethod.Post))
{

    <text>Kullanıcı Adı:</text>
    @Html.TextBoxFor(context => context.UserName)

    <br />

    <text>Parola:</text>
    @Html.PasswordFor(context => context.Password)

    <br />
    
    @Html.SubmitButton()
}


